<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <title>FLASK API</title>
</head>
<body>
    <div class="container-md">
        <h1>Test Flask API</h1>
        <p>Free API for testing and prototyping.</p>
    </div>
    <div style="margin-left: 2rem;margin-bottom: 3rem;">
        <h2> how to get data</h2>
    </div>
    <div style="margin-left: 2rem;">
    <ul class="list-group">
        <li class="list-group-item">GET	/posts/1/comments</li>
        <li class="list-group-item">GET/comments?postId=1</li>
        <li class="list-group-item">GET/comments?id=1</li>
        <li class="list-group-item">GET/comments?email=Emma@joanny.ca</li>
        <li class="list-group-item">POST/comments</li>
    </ul>
    </div>
    <footer class="text-center text-lg-start bg-light text-muted">
     
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2021 Brandom led:
          <a class="text-reset fw-bold" href="https://zurybr.github.io/braled/">Main Page</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
</body>
</html>
